@media screen and (min-width: 1000px) {
    #menu {
		display: none; /* hide hamburger button */
	}
    .navigation {
        display: flex;
		flex-direction: row;
	}
    .navigation li {
		display: block;
		flex: 1 1 100%;
	}

    nav a {
        width: 25%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    main h2 {
        grid-column: span 2;
    }

    .navigation li {
        display: block;
        background-color: black;
        padding: 1rem;
    }

    .sidebar {
        grid-column: 1/2;
    }
    
    .gallery {
        grid-column: 2/3;
    }
    .gallery .card img:hover {
        box-shadow: 0 0 50px #333;
    }
}