@media screen and (min-width: 960px) {
    #menu {
		display: none; /* hide hamburger button */
	}

    .navigation {
        display: flex;
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    nav a {
        width: 25%;
    }

    main {
        grid-template-columns: 65% auto;
        gap: 1rem;
        max-width: 960px;
    }

    main h2 {
        grid-column: span 2;
    }

    .navigation li {
        display: block;
        background-color: black;
        padding: 1rem;
    }

    .hero {
        grid-column: span 2;

      }

      #googleMap {
        grid-column: span 2;
    }
}